// THIS IS SO FUCKING JANK HAHAH


$opacity: 0;
$visibility: hidden;
$transition: opacity 1200ms ease-out, transform 800ms ease-out, visibility 1200ms ease-out;
$will-change: opacity, transform, visibility;
$translate-amount: 15vh;

.fade-in- {
    opacity: $opacity;
    transform: translateY($translate-amount);
    visibility: $visibility;
    transition: $transition;
    will-change: $will-change;
}
.fade-in-left {
    opacity: $opacity;
    transform: translateX(-$translate-amount);
    visibility: $visibility;
    transition: $transition;
    will-change: $will-change;
}

.fade-in-right {
    opacity: $opacity;
    transform: translateX($translate-amount);
    visibility: $visibility;
    transition: $transition;
    will-change: $will-change;
}

.fade-in-top {
    opacity: $opacity;
    transform: translateY(-$translate-amount);
    visibility: $visibility;
    transition: $transition;
    will-change: $will-change;
}

.fade-in-bottom {
    opacity: $opacity;
    transform: translateY($translate-amount);
    visibility: $visibility;
    transition: $transition;
    will-change: $will-change;
}
// HOLY FUCK THIS IS UGLY THERES GOTTA BE A BETTER WAY

.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}