@import "../variables.scss";
.footer {
    padding: 3em;
    height: 350px;
    position: relative;
    background-color: $sp21blue;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;

    // .row__wrapper {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     width: $global-max-width;
    // }

    .column__wrapper {
        display: flex;
        flex-direction: column;
    }

    .unstyled__list {
        list-style: none;
    }

    .column__title {
        color: white;
        font-weight: 500;
    }
    .column__item {
        color: white;
        font-weight: 400;
        line-height: 40px;
        // text-decoration: none;
        transition: ease .2s;
        &:hover {
            color: black;
        }
    }

    .banner__logo {
        min-width: 100px;
    }
}