// Navigation
@import '../variables';

.nav {
  @include clearfix();
  height: 100%;
  max-height: $navbar-height;
  width: 100%;
  overflow: hidden;
  background-color: $navbar-color;
  z-index: 1;

  @media (max-width: 820px) {
    transition: max-height 250ms;
    box-shadow: 0 1px 1px 1px rgba($grey, 0.15);

    &.nav--open {
      max-height: $navbar-height * 6;
      padding-bottom: 20px;
    }
  }

  &.sp21 {
    @media (max-width: 820px) {
      transition: max-height 250ms;
      box-shadow: 0 1px 1px 1px rgba($grey, 0.15);
      background-color: #fffcf3;

      &.nav--open {
        max-height: $navbar-height * 6;
        padding-bottom: 20px;
      }
    }
  }

  .nav__wrapper {
    @include clearfix();
    height: 100%;
    width: 100%;
    max-width: $global-max-width;
    margin: 0 auto;
    clear: both;
    // background-color: transparent;

    @media (max-width: 1280px) {
      padding: 0 20px;
    }

    .nav__links {
      float: right;
    }

    .nav__item {
      float: left;
      // margin: 0 24px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 48px;
      vertical-align: middle;
      color: $dark-grey;
      font-family: "DM Sans";
      font-weight: 500;
      font-size: 16px;
      line-height: $navbar-height;
      text-decoration: none;

      &.sp21 {
        color: $sp21blue;
        // color: white;
      }

      &.sp21::after {
        /* This will create the layer 
           over original text*/
        content: attr(dataText);
        position: absolute;
        top: 0;
        right: 0;

        /* Setting different color than 
           that of original text  */
        // color: $navbar-color;
        color: white;
        background-color: $navbar-color;
        overflow: hidden;

        /* Setting width to 0*/
        width: 0%;
        transition: .3s;
      }

      &.sp21:hover::after {
        /* Setting width to 100 on hover*/
        width: 100%;
        left: 0;
      }

      &.nav__logo {
        height: $navbar-height * 0.65;
        line-height: $navbar-height * 0.65;
        margin: ($navbar-height * 0.175) 12px 0 0;

        img {
          height: 100%;
        }
      }

      &.nav__hamburger {
        display: none;
      }
    }
  }

  @media (max-width: 820px) {
    .nav__wrapper {
      .nav__item {
        display: block;
        float: none;
        text-align: right;

        &.nav__link {
          margin-right: 72px;
        }

        &.nav__media {
          display: block;
          float: none;
          margin-right: 72px;
          margin-top: 12px;
          line-height: 0;
        }

        &.nav__logo {
          // background-color: black;
          display: inline-block;
          margin-right: 50%;
        }

        &.nav__cta {
          float: right;
        }

        &.nav__hamburger {
          display: inline-block;
          float: right;
          height: 20px;
          width: 24px;
          margin-top: ($navbar-height - 20) / 2;
          margin-right: 0;

          .hamburger__bar {
            position: absolute;
            width: 100%;
            height: 2px;
            background: $grey;
            transition: transform 0.25s;

            &.bar--1 {
              top: 4px;
            }

            &.bar--2 {
              top: 14px;
            }
          }

          .hamburger__bar--sp21 {
            position: absolute;
            width: 100%;
            height: 2px;
            background: #295e6a;
            transition: transform 0.25s;

            &.bar--1 {
              top: 4px;
            }

            &.bar--2 {
              top: 14px;
            }
          }

          &.nav__hamburger--active {
            .hamburger__bar {
              &.bar--1 {
                top: 9px;
                transform: rotate(45deg);
              }

              &.bar--2 {
                top: 9px;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }
}
