@keyframes slideInFromLeft {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}


.page__indicator {
    animation: .8s ease 0s 1 slideInFromLeft;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    line-height: 50px;
    font-weight: 700;
    font-size: 17px;
    color: #ACACAC;
}
  
.page__title {
    color: black;
    font-weight: 400;
    font-size: 40px;
}
  
.col__2 {
    column-count: 2;
}

.page__description {
    // padding-top: 5px;
    font-weight: 300;
}