// About
@import "../variables";

.fade__in {
  opacity: 1;
  transform: translateY(1em);
  visibility: visible;
  transition: opacity 200ms ease-out, transform 200ms ease-out, visibility 200ms ease-out;
  will-change: opacity, transform, visibility;
  padding-bottom: 1em;
}

.faq__question {
  color: black;
  &:hover {
    color: black;
  }
}

.values {
  padding-top: 20px;
  align-items: flex-start;
  gap: 20px;
  .value__widget {
    gap: 20px;
    flex: 1 1 0px;
    .value__img {
      max-width: 100%;
      height: auto;
    }
  }
}

.teams {
  align-items: flex-start;
  gap: 50px;
  .team__widget {
    align-items: flex-start;
    gap: 50px;
    .team__widget__col {
      flex: 1 1 0px;
      .team__widget__link__list {
        display: flex;
        justify-content: space-between;
        .apply__link {
          color:black;
        }
      }
    }
    .team__img {
      object-fit: contain;
      flex: 1 1 0px;
      // max-width: $global-max-width/2;
      // height: auto;
      max-height: $global-max-width/4;
      width: auto;
    }
  }
}

.officers {
  align-items: flex-start;
  justify-items: flex-start;
  justify-content: center;
  max-width: $global-max-width;
  flex-wrap: wrap;
  overflow-x: hidden;
  text-align: center;
  gap: 1px;
  .officer__widget {
    gap: 10px;

    width: $global-max-width/5;
    .officer__widget__square {
      .officer__widget__img {
        object-fit: contain;
        max-width: $global-max-width/5;
        height: auto;
      }
      .officer__widget__phrase {
        padding: 10px;
        height: 100%; // TODO: why?
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.2s ease all;
        color: white;
        &:hover {
          opacity: 1;
        }
      }
    }
    .officer__widget__name {
      max-width: $global-max-width/5;
    }
    .officer__widget__position {
      max-width: $global-max-width/5;
    }
  }
}

.about {
  max-width: $global-max-width;
  // padding: 0 5% 0 5%;
  margin: auto;

  @media (max-width: 640px) {
    padding: 0 0 0 0;
  }

  .officer__container {
    // margin-top: 5%;
    // margin-bottom: 5%;
    padding: 50px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    @media (max-width: 800px) {
      padding: 0 0 0 0;
    }
  }

  .officer__block {
    width: 200px;
    // overflow: hidden;
    margin-top: 30px;
    flex: 1;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      // margin-left: -60px;
      width: 100%;
    }

    h4,
    p {
      margin: 0 0 0 0;
    }

    h4 {
      margin-top: 5px;
      min-height: 2em;
    }

    p {
      color: $grey;
      margin: 0px;
      // min-height: 4em;
    }

    .last-child {
      margin-bottom: 19px;
    }
  }

  .officer__block:hover .officer__bio {
    opacity: 1;
  }

  .officer__bio {
    height: 98%; // TODO: why?
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.2s ease all;
  }

  .officer__bio p {
    width: 80%;
    text-align: center;
    color: white;
  }

  .officer__block-empty {
    max-height: 0;

    @media (max-width: 640px) {
      display: none;
    }
  }
}
