.decals {
    .decal__widget__wrapper {
        align-items: flex-start;
        gap: 20px;
    }
    .decal__widget {
        background-color: #f2f2f2;
        // padding: 24px 0px;
        margin-bottom: 24px;
        flex: 1 1 0px;
        .decal__widget__img {
            width: 100%;
            height: 100%;
        }
        .decal__widget__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 40px;
        }
        transition: ease 0.2s;
        &:hover {
            -webkit-box-shadow: 0 15px 10px #777;
            -moz-box-shadow: 0 15px 10px #777;
            box-shadow: 0 15px 10px #777;
        }
    }
}