@import "../variables";

.hero__text {
    max-width: 50vw;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: black;
}
// .cunt {
//     background-image: url("/img/homepage/HERO-IMG.png");
// }

// .fade-in-section {
//     opacity: 0;
//     transform: translateX(10vh);
//     visibility: hidden;
//     transition: opacity 1200ms ease-out, transform 600ms ease-out, visibility 1200ms ease-out;
//     will-change: opacity, transform, visibility;
// }
// .fade-in-section.is-visible {
//     opacity: 1;
//     transform: none;
//     visibility: visible;
// }

.section__one {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100%;
    .home__button__wrapper {
        display: flex;
        min-width: 300px;
        width: 70%;
        justify-content: center;
        padding-top: 30px;
        .home__button {
            margin: 10px;
            padding: 15px 30px;
            border-radius: 3px;
            text-decoration: none;
            transition: 0.2s ease all;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            text-decoration: none;

            &.blue__sp21 {
                color: white;
                background-color: $sp21blue;
                &:hover {
                    text-decoration: none;
                    background-color: #002177;
                }
            }

            &.grey__sp21 {
                color: black;
                background-color: #eaeaea;
                &:hover {
                    text-decoration: none;
                    background-color: #b6b6b6;
                }
            }
        }
    }
}

.section__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f7f2;
    padding-top: 100px;
    gap: 30px;
    h2 {
        font-size: 90px;
    }
    img {
        padding: 0px 48px;
    }
    .tag__row {
        justify-content: center;
    }
}
