@import "../variables";

$pagecard-img-height: $global-max-width/3.8;

.total__wrapper {
    // overflow-x: hidden;
    // overflow-y: scroll;
    text-align: center;
}

.hero__text {
    max-width: 50vw;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: black;
}

.section__one {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100%;
    .home__button__wrapper {
        display: flex;
        min-width: 300px;
        width: 70%;
        justify-content: center;
        padding-top: 30px;
        .home__button {
            margin: 10px;
            padding: 15px 30px;
            border-radius: 3px;
            text-decoration: none;
            transition: 0.2s ease all;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            text-decoration: none;

            &.blue__sp21 {
                color: white;
                background-color: $sp21blue;
                &:hover {
                    text-decoration: none;
                    background-color: #002177;
                }
            }

            &.grey__sp21 {
                color: black;
                background-color: #eaeaea;
                &:hover {
                    text-decoration: none;
                    background-color: #b6b6b6;
                }
            }
        }
    }
}

.l__text {
    font-weight: 400;
    font-size: 90px;
    color: black;
    text-decoration: none;
}

.section__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f7f2;
    padding-top: 100px;
    gap: 20px;
    padding-bottom: 100px;
    // height: 150%;
    img {
        padding: 0px 48px;
    }
}

.vertical__line {
    transform: translateY(-100px);
    width: 2px;
    height: 200px;
    background-color: #f27459;
}

.section__three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    // background-color: blue;
    .page__card {
        max-height: $pagecard-img-height;
        &:hover {
            // background-color: grey;
            color: #f27459;
        }
    }
    .banner__row {
        justify-content: flex-start;
        gap: 50px;
    }
    .banner__title {
        // text-align: center;
        font-size: 90px;
        font-weight: 200;
        color: black;
        transition: color ease-in .2s;
        will-change: color;
        &:hover {
            color: #f27459;
        }
    }
    .translate__y {
        transform: translateY(-1.1em);
    }
    .banner__img {
        height: $pagecard-img-height;
        width: auto;
        object-fit: contain;
    }
    .banner__desc {
        margin: auto;
        text-align: left;
    }
    .banner__link {
        color: black;
        font-weight: 500;
    }
    br {
        display: block;
        content: "";
        margin-top: 0;
        height: 2em;
    }
}
