@import "../variables";

$pagecard-img-height: $global-max-width/3.8;

.total__wrapper {
    // overflow-x: hidden;
    // overflow-y: scroll;
    text-align: center;
}

.hero__text {
    max-width: 50vw;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: black;
}

.section__one {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: #ddd7d2;

    .section__one__hero {
        max-width: 50%;
        align-items: center;
        z-index:1;
        @media (max-width: 600px) {
            max-width: 80%;
        }
    }

    .join__us__svg {
        max-width: $global-max-width/8;
        height: auto;
        @media (max-width: 1024px) {
            max-width: $global-max-width/3;
            height: auto;
        }
    }

    .graphics {
        position: absolute;
        z-index: 0;
        left: 0px;
        top: 0px;
        #rachel {
            position: absolute;
            left: 0px;
            width: $global-max-width/2;
            height: auto;
        }
        #computer {
            position: absolute;
            // left: calc(100vw - 360px);
            // top: calc(100vh - 530px - 60px);
            right: -100vw;
            bottom: -90vh;
            width: $global-max-width/3;
            height: auto;
        }
        #bottom-left {
            position: absolute;
            // 60 IS NAVBAR-HEIGHT
            top: calc(100vh - 125px - 60px);
            height: 125px;
            width: auto;
        }
        #bottom-right {
            position: absolute;
            // 60 IS NAVBAR-HEIGHT
            top: calc(100vh - 226px - 60px);
            left: $global-max-width/1.06;
            height: 226px;
            width: auto;
        }
        #top-right {
            position: absolute;
            // 60 IS NAVBAR-HEIGHT
            left: calc(100vw - 380px);
            width: 380px;
            height: auto;
        }
    }

    .home__button__wrapper {
        z-index: 1;
        display: flex;
        min-width: 300px;
        width: 70%;
        justify-content: center;
        padding-top: 30px;
        .home__button {
            margin: 10px;
            padding: 15px 30px;
            border-radius: 3px;
            text-decoration: none;
            transition: 0.2s ease all;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            text-decoration: none;

            &.blue__sp21 {
                color: white;
                background-color: $sp21blue;
                &:hover {
                    text-decoration: none;
                    background-color: #002177;
                }
            }

            &.grey__sp21 {
                color: black;
                background-color: #eaeaea;
                &:hover {
                    text-decoration: none;
                    background-color: #b6b6b6;
                }
            }
        }
    }
}

.l__text {
    font-weight: 400;
    font-size: 90px;
    color: black;
    text-decoration: none;
    @media (max-width: 640px) {
        font-size: 50px;
    }
}

.section__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f7f2;
    padding-top: 100px;
    gap: 20px;
    padding-bottom: 100px;
    // height: 150%;
    .float__img {
        @media (max-width: 1024px) {
            display: none;
        }
        padding: 0px 48px;
    }
}

.vertical__line {
    transform: translateY(-100px);
    width: 2px;
    height: 200px;
    background-color: $sp21orange;
}

.section__three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
    // background-color: blue;
    .page__card {
        max-height: $pagecard-img-height;
        &:hover {
            // background-color: grey;
            color: $sp21orange;
        }
    }
    .banner__row {
        @media (max-width: 600px) {
            display: none;
        }
        justify-content: flex-start;
        gap: 50px;
    }
    .banner__title {
        // text-align: center;
        font-size: 90px;
        font-weight: 200;
        color: black;
        transition: color ease-in 0.2s;
        will-change: color;
        &:hover {
            color: $sp21orange;
        }
        @media (max-width: 600px) {
            font-size: 40px;
        }
    }
    .translate__y {
        transform: translateY(-1.1em);
    }
    .banner__img {
        height: $pagecard-img-height;
        width: auto;
        object-fit: contain;
    }
    .banner__desc {
        margin: auto;
        text-align: left;
    }
    .banner__link {
        color: black;
        font-weight: 500;
    }
    br {
        display: block;
        content: "";
        margin-top: 0;
        height: 2em;
    }
}
