@import '../variables';

.button__work {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .home__button__wrapper {
        z-index: 1;
        display: flex;
        min-width: 300px;
        width: 70%;
        justify-content: center;
        padding-top: 30px;
        .home__button {
            margin: 10px;
            padding: 15px 30px;
            border-radius: 3px;
            text-decoration: none;
            transition: 0.2s ease all;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            text-decoration: none;

            &.blue__sp21 {
                color: white;
                background-color: $sp21blue;
                &:hover {
                    text-decoration: none;
                    background-color: #002177;
                }
            }
            &.grey__sp21 {
                color: black;
                background-color: #eaeaea;
                &:hover {
                    text-decoration: none;
                    background-color: #b6b6b6;
                }
            }
        }
    }
}
