// Base styles that can be applied to any element
@import '../css/variables';

* {
  font-family: "DM Sans";
  font-weight: 500;
  color: black;
}

.hero {
  max-width: $global-max-width;
  padding: 50px 50px 0px 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 640px) {
    flex-direction: column;    
  }


  h1 {
    font-weight: 300;
    margin: 0 0 0 0;
  }

  p {
    font-weight: 500;
  }
}

.hero__left {
  flex: 1;
  margin: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__right {
  flex: 1;
}

@-webkit-keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@-moz-keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@-ms-keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

.blink {
  -webkit-animation: blink 0.3s ease-in-out infinite alternate;
  -moz-animation: blink 0.3s ease-in-out infinite alternate;
  -ms-animation: blink 0.3s ease-in-out infinite alternate;
  animation: blink 0.3s ease-in-out infinite alternate;
}

 @keyframes shake {
  8%, 41% {
      transform: translateX(-10px);
  }
  25%, 58% {
      transform: translateX(10px);
  }
  75% {
      transform: translateX(-5px);
  }
  92% {
      transform: translateX(5px);
  }
  0%, 100% {
      transform: translateX(0);
  }
}

 @-webkit-keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
  }
  25%, 58% {
      -webkit-transform: translateX(10px);
  }
  75% {
      -webkit-transform: translateX(-5px);
  }
  92% {
      -webkit-transform: translateX(5px);
  }
  0%, 100% {
      -webkit-transform: translateX(0);
  }
}

 @-moz-keyframes shake {
  8%, 41% {
      -moz-transform: translateX(-10px);
  }
  25%, 58% {
      -moz-transform: translateX(10px);
  }
  75% {
      -moz-transform: translateX(-5px);
  }
  92% {
      -moz-transform: translateX(5px);
  }
  0%, 100% {
      -moz-transform: translateX(0);
  }
}

.input__invalid {
  animation: shake .5s linear;
  -moz-animation: shake .5s linear;
  -webkit-animation: shake .5s linear;
}

.content {
  padding-bottom: 24px;
}

// .page__wrapper {

//   .section__title {
//     text-align: center;
//     margin: 48px auto;
//     font-family: 'Raleway';
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     color: $blue;

//     @media (max-width: 540px) {
//       font-size: 1.5rem;
//     }
//   }

//   &.apply {
//     .section__title {
//       color: #90a4ae;
//       a {
//         text-decoration: none;
//         color: $blue;
//       }
//     }
//   }
// }


// Jank on hover solution
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.g__ex__link{
  text-decoration: none;
  position: relative;
  &.g__ex__link:after{
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    right: 0;
    background: black;
    transition: width .3s ease;
    -webkit-transition: width .3s ease;
  }
  
  &.g__ex__link:hover:after{
    width: 100%;
    left: 0;
    background: black;
  }
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: black;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  color: black;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  color: black;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  color: black;
}

h5 {
  font-size: 18px;
  font-weight: 300;
  color: black;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: black;
}


.g__page__wrapper {
  max-width: $global-max-width;
  width: 100%;
  min-height: calc(100vh - 60px);
  margin: auto;
}

.g__flex__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $global-max-width;
  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.g__flex__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}